* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --grey: #E9E9E9;
    --violet_txt: #004;
    --violet_border: #AAC;
    --violet_background: #DFDFF8;

    --unit: 1rem;
    --header_height: calc(3 * var(--unit));
}
img {
    display: block;
    width: 100%;
}



/* layout header */

header {
    display: flex;
    align-items: center;
    height: var(--header_height);

    position: sticky;
    z-index: 15;
    top: 0px;

    padding-left: calc(1 * var(--unit));
}



/* layout presentation */

#presentation {
    padding: calc(1 * var(--unit));
    max-width: 40rem;
}
#presentation p {
    margin-bottom: calc(1 * var(--unit));
}



/* layout wrapper */

#wrapper ul {
    list-style: none;
}
#wrapper ul {
    display: grid;
    gap: var(--unit);
    padding: var(--unit);
    grid-template-columns: repeat(3, 1fr);
}
#wrapper li figcaption {
    border: 1px solid var(--grey);
    padding: calc(.5 * var(--unit));
}




/* TYPOGRAPHY */
body, h1, h2, h3 {
    font-size: 1rem;
    font-weight: 400;
}
body { font-family: "alegreya_sans"; }
header a {
    text-decoration: none;
    color: inherit;
}
header * {
    text-transform: uppercase;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: inherit;
}
#wrapper li {
    font-weight: 600;
    text-align: center;
}



/* COLORS / BORDER / BG */
header {
    background-color: var(--grey);
}
#wrapper li:hover figcaption {
    background-color: aliceblue;
}
