
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "freefont_mono";
}
:root {
  --color-a: #fff;
  --color-b: #004;
  --color-c: #AAC;
  --color-d: #DFDFF8;
}

body {
  background-color:var(--color-a);
  color: var(--color-b);
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  height : 3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--color-c);
  background-color: #E9E9E9;
}
footer {
  border-top: double 3px var(--color-c);
}
footer h1 {
  border-bottom: none;
}
header h1, header h1 a, header h2 {
  border-top: none;
  font-family: "alegreya_sans";
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color:#000;
  text-transform: uppercase;
}
main h1 {
  font-size : 1rem;
  font-weight : normal;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-top: solid 1px var(--color-c);
  border-bottom: double 3px var(--color-c);
}
header h2 {
  padding-left : 0.5rem;
  margin-left: 0.6rem;
  border-left : solid 2px;
}
main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#map_side {
  flex: 1;
  overflow: hidden;
  border-right: double var(--color-c) 3px;
  display:flex;
  flex-direction: column;
}

svg {
  background: var(--color-d);
  flex: auto;
  width:100%;
}

circle {
  cursor: pointer;
}

#chrono_ui {
  padding: 1rem 2rem 1rem 2rem;
}

#histogram_section {
  min-height : 250px;
  max-width: 1080px;
  padding: 1rem 2rem 1rem 2rem;
 display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#paratxt_list {
  overflow-y : scroll;
  overflow-x : hidden;
}

#info_side {
  max-width: 52rem;
  display:flex;
  max-height: calc(100vh - 3rem);
  flex-direction: column;
}

#paratxt_list p {

  /* Both of the following are required for text-overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow : ellipsis;
}

.paratxt_card {
  border-bottom: solid var(--color-c) 1px;
  padding : 1rem 2rem 1rem 2rem;
}

.paratxt_card:hover {
  cursor:pointer;
  background-color:var(--color-d);
}

.paratxt_card h3 {
  font-weight: normal;
  text-decoration: underline;
}

#out_zone{
  fill: var(--color-c) !important;
}
path {
  fill: var(--color-a) !important;
  stroke: var(--color-c) !important;
  stroke-width: 0.2px!important;
}
* {
  transition: opacity 1s, r 1s !important;
}
circle[pubplace] {
  r: 0px !important;
}
circle {
  fill: var(--color-d) !important;
}
#ar_info span{
  color: #005;
  background-color: #005;
}
circle[ancient="ar"]{
  fill: #005 !important;
}
#pl_info span {
  color: #631;
  background-color: #631;
}
circle[ancient="pl"]{
  fill: #631 !important;
}
#eschl_info span{
  color: #583;
  background-color: #583;
}
circle[ancient="eschl"]{
  fill: #583 !important;
}
#sen_info span{
  color: #C46;
  background-color: #C46;
}
circle[ancient="sen"]{
  fill: #C46 !important;
}
#ter_info span{
  color: #C97;
  background-color: #C97;
}
circle[ancient="ter"]{
  fill: #C97 !important;
}
#soph_info span{
  color: #BCE;
  background-color: #BCE;
}
circle[ancient="soph"]{
  fill: #BCE !important;
}
#eur_info span{
  color: #BEB;
  background-color: #BEB;
}
circle[ancient="eur"]{
  fill: #BEB !important;
}
text {
  transition: opacity 0.5s !important;
  pointer-events: none;
  font: 4px FreeMono;
  fill: var(--color-b);
}
section#chrono_map{
  flex: 1;
}
.chrono_bar {
  width: 100%;
  margin-top: -0.25rem
}
.chrono_texts {
  margin-top: -0.5rem;
}
.text_count {
  display: inline-block;
  vertical-align:bottom;
}
.text_count_circle {
  border-left: solid var(--color-c) 1px;
  margin-top: 0.5rem;
  mix-blend-mode : darken;
}
.text_count_circle:hover {
  cursor:default;
  border-left: solid var(--color-b) 1px !important;
}
.chrono_graduation {
  margin-top: 1rem;
  border-bottom: solid 1px var(--color-c);
  width: 100%;
  height:2rem;
  padding-left: 0rem;
  display: flex;
}
.chrono_thumb {
  border-radius: 50%;
  width:100%;
  height:1rem;
  width:1rem;
  margin-top: -0.5rem;
  display: inline-block;
  outline: solid 1px var(--color-c);
  background-color: var(--color-a);
}
.chrono_thumb:hover {
  cursor: move;
}
.chrono_mark {
  flex: 1;
  border-left: solid 1px var(--color-c);
  vertical-align: top;
    user-select: none;
}
.chrono_mark p {
  pointer-events: none;
  margin-left : 0.5rem;
  font-size: 9pt;
}
